################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NotebookForMe/NotebookForMe/bin/x86/Debug
/NotebookForMe/NotebookForMe/obj/ARM/Debug
/NotebookForMe/NotebookForMe/obj/x86/Debug
/NotebookForMe/mscorlib.pdb/9DBC4C7069364840BB4EDC9E50AE92244
/NotebookForMe/System.Collections.Concurrent.pdb/8C77084C35AF464286C5DB27A85766A31
/NotebookForMe/System.Xml.XDocument.pdb/EBB991EAAE0C4F2188F7292A06BE9BC91/download.error
/NotebookForMe/System.Xml.XDocument.pdb/EBB991EAAE0C4F2188F7292A06BE9BC91
/NotebookForMe/System.Xml.ReaderWriter.pdb/65E3C471856248789BF0A765115E728A1/download.error
/NotebookForMe/System.Xml.ReaderWriter.pdb/65E3C471856248789BF0A765115E728A1
/NotebookForMe/System.Threading.Tasks.pdb/F98EDBA0E1DC417AB9E10FA3071987501/download.error
/NotebookForMe/System.Threading.Tasks.pdb/F98EDBA0E1DC417AB9E10FA3071987501
/NotebookForMe/System.Threading.pdb/AC0F6F35A35747BBBA10D8BFE1A5BA011/download.error
/NotebookForMe/System.Threading.pdb/AC0F6F35A35747BBBA10D8BFE1A5BA011
/NotebookForMe/System.Text.RegularExpressions.pdb/51C8E5C05A2F4669819BD074279DBCB21/download.error
/NotebookForMe/System.Text.RegularExpressions.pdb/51C8E5C05A2F4669819BD074279DBCB21
/NotebookForMe/System.Runtime.WindowsRuntime.UI.Xaml.pdb/3BE09AAA1D5A4B3BA740DFCBB52CD6B81/download.error
/NotebookForMe/System.Runtime.WindowsRuntime.UI.Xaml.pdb/3BE09AAA1D5A4B3BA740DFCBB52CD6B81
/NotebookForMe/System.Runtime.WindowsRuntime.pdb/38027CF4BA734491A7234E67FE40A1F71/download.error
/NotebookForMe/System.Runtime.WindowsRuntime.pdb/38027CF4BA734491A7234E67FE40A1F71
/NotebookForMe/System.Runtime.Serialization.Primitives.pdb/E618BF2049BC4773AD7D5BFBFD10FD291/download.error
/NotebookForMe/System.Runtime.Serialization.Primitives.pdb/E618BF2049BC4773AD7D5BFBFD10FD291
/NotebookForMe/System.Runtime.pdb/A1018B1FF3DD473693C4F3E35DD1D11F1/download.error
/NotebookForMe/System.Runtime.pdb/A1018B1FF3DD473693C4F3E35DD1D11F1
/NotebookForMe/System.Runtime.Numerics.pdb/BC3CE636278C482C825D4E32ED0A5BB81/download.error
/NotebookForMe/System.Runtime.Numerics.pdb/BC3CE636278C482C825D4E32ED0A5BB81
/NotebookForMe/System.Runtime.InteropServices.WindowsRuntime.pdb/F98D379FCF8841A7BE52A647B891985E1/download.error
/NotebookForMe/System.Runtime.InteropServices.WindowsRuntime.pdb/F98D379FCF8841A7BE52A647B891985E1
/NotebookForMe/System.Runtime.Extensions.pdb/3C0859D72F6B411896E211F8D58E2D7C1/download.error
/NotebookForMe/System.Runtime.Extensions.pdb/3C0859D72F6B411896E211F8D58E2D7C1
/NotebookForMe/System.Reflection.TypeExtensions.pdb/A2009DA7D0864BA28C6316CAA57A14A61/download.error
/NotebookForMe/System.Reflection.TypeExtensions.pdb/A2009DA7D0864BA28C6316CAA57A14A61
/NotebookForMe/System.Private.Uri.pdb/973D41B0B51546419EE6D98EE98CCB6B1/download.error
/NotebookForMe/System.Private.Uri.pdb/973D41B0B51546419EE6D98EE98CCB6B1
/NotebookForMe/System.Private.Networking.pdb/4D6B76F84EED42B68D124F51AF3EBE6D1/download.error
/NotebookForMe/System.Private.Networking.pdb/4D6B76F84EED42B68D124F51AF3EBE6D1
/NotebookForMe/System.ObjectModel.pdb/9A365BCCCB43407ABC9BE1297C0055CD1/download.error
/NotebookForMe/System.ObjectModel.pdb/9A365BCCCB43407ABC9BE1297C0055CD1
/NotebookForMe/System.Net.Primitives.pdb/DEBC97374E1543BC90BAEFF410E3DA691/download.error
/NotebookForMe/System.Net.Primitives.pdb/DEBC97374E1543BC90BAEFF410E3DA691
/NotebookForMe/System.Net.Http.Primitives.pdb/FF845C25F5AF474C971314D3F67307621/download.error
/NotebookForMe/System.Net.Http.Primitives.pdb/FF845C25F5AF474C971314D3F67307621
/NotebookForMe/System.Net.Http.pdb/35EF7EB8F8D140D589D2DEAF2B5AD7341/download.error
/NotebookForMe/System.Net.Http.pdb/35EF7EB8F8D140D589D2DEAF2B5AD7341
/NotebookForMe/System.Linq.Queryable.pdb/80D650CEF565428FB44F37F180169E2B1/download.error
/NotebookForMe/System.Linq.Queryable.pdb/80D650CEF565428FB44F37F180169E2B1
/NotebookForMe/System.Linq.pdb/E92DF4C916AB4A3F9E0242BB977C6F701/download.error
/NotebookForMe/System.Linq.pdb/E92DF4C916AB4A3F9E0242BB977C6F701
/NotebookForMe/System.Linq.Expressions.pdb/F42EFF2B108242D982A857E725BB0A1F1/download.error
/NotebookForMe/System.Linq.Expressions.pdb/F42EFF2B108242D982A857E725BB0A1F1
/NotebookForMe/System.IO.pdb/C5241B8DBAED4808856B4D7E10814E361/download.error
/NotebookForMe/System.IO.pdb/C5241B8DBAED4808856B4D7E10814E361
/NotebookForMe/System.Dynamic.Runtime.pdb/97C32EAAC49242CCBAFDC2D5C8114DC11/download.error
/NotebookForMe/System.Dynamic.Runtime.pdb/97C32EAAC49242CCBAFDC2D5C8114DC11
/NotebookForMe/System.Diagnostics.Debug.pdb/462E8505525543A0B8C5566B38EEF44B1/download.error
/NotebookForMe/System.Diagnostics.Debug.pdb/462E8505525543A0B8C5566B38EEF44B1
/NotebookForMe/System.Collections.pdb/D2DA959BD3B2483BB5BF8BF4708DA9901/download.error
/NotebookForMe/System.Collections.pdb/D2DA959BD3B2483BB5BF8BF4708DA9901
/NotebookForMe/System.Collections.NonGeneric.pdb/2E7DB3DB5CBE4A5BA91C59A57FB86D151
